
<!-- my-component.component.html -->
<ng-container>
  <!-- Your component's HTML content goes here -->
</ng-container>

<!-- Include scripts specific to this component -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<app-intro></app-intro>
<app-subjects></app-subjects>
<app-premium></app-premium>
<app-notes></app-notes>


